body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}
/***********************Home**************************/
.page-home {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/coding.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	transition: 1s;
	z-index: 10;
}

.name {
	color: white;
	font-size: 5em;
	font-weight: bold;
	letter-spacing: 20px;
	margin: 0;
}

#ryan {
	animation-duration: 5s;
}

.page-home #subTxt {
	font-weight: 200;
	color: rgb(165, 165, 165);
	font-size: 1.5em;
	text-transform: uppercase;
	letter-spacing: 5px;
	animation-delay: 1s;
	animation-duration: 3s;
}

.br {
	display: none;
}

.page-home #portfolioBtn {
	font-weight: 200;
	color: rgb(255, 255, 255);
	font-size: 1em;
	border: 2px solid white;
	border-radius: 2px;
	padding: 5px 20px;
	letter-spacing: 2px;
	animation-delay: 1s;
	animation-duration: 3s;
	transition: 1s;
}

.page-home #portfolioBtn:hover {
	background-color: white;
	color: rgb(0, 0, 0);
	font-weight: 500;
	cursor: pointer;
	-ms-transform: scale(1.05, 1.05);
	-webkit-transform: scale(1.05, 1.05);
	transform: scale(1.05, 1.05);
}

/***********************Container**************************/
.container {
	margin: auto;
	display: none;
}

/***********************Nav**************************/
nav {
	min-height: 50px;
	box-shadow: 0 0 20px 0 rgb(221, 221, 221);
	display: flex;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	float: right;
}

nav li {
	display: block;
	text-align: center;
	padding: 30px;
	float: left;
	letter-spacing: 5px;
	transition: 0.6s;
	opacity: 0.6;
}

nav li:hover {
	background-color: rgb(240, 240, 240);
	opacity: 1;
	cursor: pointer;
}

.main-nav {
	width: 1200px;
	height: 100%;
	margin: auto;
}

.icon {
	display: flex;
	float: left;
	margin: 0 30px;
	transition: 0.5s;
}

.icon h1 {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 4em;
	transition: 0.5s;
}

.R {
	color: rgb(32, 32, 40);
}
.L {
	color: rgb(148, 148, 148);
}

.icon:hover .R {
	color: rgb(148, 148, 148);
}

.icon:hover .L {
	color: rgb(32, 32, 40);
}

.icon:hover {
	cursor: pointer;
	-ms-transform: scale(1.05, 1.05);
	-webkit-transform: scale(1.05, 1.05);
	transform: scale(1.05, 1.05);
}

#R {
	animation-delay: 1s;
	animation-duration: 1s;
}
#L {
	animation-delay: 1s;
	animation-duration: 1s;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 9;
	top: 0;
	right: 0;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.9);
	color: white;
	overflow-x: hidden;
	transition: 1s;
	padding-top: 60px;
}

.sidenav a {
	padding: 20px;
	text-decoration: none;
	font-size: 30px;
	color: white;
	display: block;
	transition: 0.3s;
	text-align: center;
}

.strike {
	position: relative;
	display: block;
	cursor: pointer;
}

.strike:before,
.strike:after {
	content: '';
	position: absolute;
	width: 0%;
	height: 3px;
	top: 50%;
	margin-top: -0.5px;
	background: #fff;
}

.strike:before {
	left: 25%;
}
.strike:after {
	right: 25%;
	background: #fff;
	transition: width .25s cubic-bezier(1, 1, 1, 1);
}

.strike:hover:before {
	background: #fff;
	width: 50%;
	transition: width .25s cubic-bezier(1, 1, 1, 1);
}

.strike:hover:after {
	background: transparent;
	width: 50%;
	transition: 0s;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.mobile-social {
	display: flex;
	align-items: center;
	justify-content: center;
}

.mobile-social img {
	width: 30px;
	padding: 10px;
	transition: 0.5s;
}

.mobile-social img:hover {
	opacity: 0.6;
}

.hamburger {
	display: none;
	transition: 1s;
}

.active {
	background-color: rgb(240, 240, 240);
	opacity: 1;
}

/***********************Pages**************************/
.pages {
	display: flex;
	justify-content: center;
	margin: 0;
}

.page {
	text-align: center;
}

.inner-container {
	width: 1200px;
	margin-bottom: 25px;
}

.page h1 {
	letter-spacing: 15px;
	margin: 75px 0 15px 0;
	font-size: 2.5em;
	font-weight: bold;
	text-transform: uppercase;
}

.underline {
	width: 35px;
	border-bottom: 3px solid rgb(200, 200, 200);
	margin: auto;
	margin-bottom: 30px;
}

/***********************Portfolio**************************/
.page-port p {
	font-size: 0.85em;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
}
.work {
	padding: 15px;
	letter-spacing: 1px;
}

.skills {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.skills div {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border-radius: 10px;
	padding: 10px;
	margin: 10px 15px;
	font-size: 0.75em;
}

.pic a {
	text-decoration: none;
	color: white;
	border-radius: 10px;
	padding: 10px;
	margin-top: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	transition: 0.5s;
}

.pic a:hover {
	background-color: rgba(0, 0, 0, 0.85);
	-ms-transform: scale(1.075, 1.075);
	-webkit-transform: scale(1.075, 1.075);
	transform: scale(1.075, 1.075);
}

.uni-port {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/portfolio.JPG);
}

.uni-iOS {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/OandXs.png);
}

.landing {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/landingpage.jpg);
}

.landing > .skills {
	margin-top: -70px;
}

.wordpress {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/wordpress.JPG);
}

.projPort {
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(img/newPortfolio.JPG);
}

.projPort > .skills {
	margin-top: -70px;
}

.pic {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	height: 250px;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	box-shadow: 5px 5px 10px 0 rgb(150, 150, 150);
	transition: 0.5s;
}

.pic:hover {
	-ms-transform: scale(1.1, 1.1);
	-webkit-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}

/***********************About**************************/
.page-about p {
	font-size: 0.9em;
}

.page-about .back-img {
	position: absolute;
	width: 100%;
	left: 0;
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(img/lakevyrnwy.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.page-about .back-img h1 {
	color: white;
	margin: 0;
	padding: 90px 0;
}

.page-about .inner-container {
	margin-top: 250px;
	letter-spacing: 1px;
}

.large-text {
	font-size: 2.75em;
	font-weight: bold;
	letter-spacing: 5px;
}

.head-line {
	font-weight: bold;
}

.about-format {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.about-format p {
	text-align: left;
	align-self: center;
}

.about-format div {
	align-self: center;
}

.skills-img {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 0 70px;
}
.skills-img img {
	width: 85px;
	padding: 25px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	transition: .65s;
}

.skills-img img:hover {
	-ms-transform: scale(1.4, 1.4);
	-webkit-transform: scale(1.4, 1.4);
	transform: scale(1.4, 1.4);
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}

.page-about a {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.page-about a:hover {
	font-weight: initial;
}

/***********************Contact**************************/
.page-contact .back-img {
	position: absolute;
	width: 100%;
	left: 0;
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(img/coding.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.page-contact .back-img h1 {
	color: white;
	margin: 0;
	padding: 90px 0;
}

.page-contact .inner-container {
	margin-top: 250px;
	letter-spacing: 1px;
	font-weight: bold;
}

.contact-icons {
	width: 20px;
	opacity: 0.85;
	margin-bottom: -4px;
	transition: .5s;
}
.contact-icons:hover {
	-ms-transform: scale(1.4, 1.4);
	-webkit-transform: scale(1.4, 1.4);
	transform: scale(1.4, 1.4);
	opacity: 1;
}

.form {
	padding: 35px 0 0 0;
	text-align: left;
	display: inline;
}

.visible {
	opacity: 1;
}

.invisible {
	opacity: 0;
}

#nameLbl,
#emailLbl,
#messageLbl {
	transition: 1s;
}

input[type=text],
textarea {
	width: 100%;
	border: 0;
	font-family: 'Montserrat', sans-serif;
	margin: 5px 0 35px 0;
	height: 40px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.8);
	transition: .5s;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-appearance: none;
}

textarea {
	height: 80px;
}

input[type=text]:focus {
	outline: none !important;
	border-bottom: 3px solid black;
}
textarea:focus {
	outline: none !important;
	border-bottom: 3px solid black;
}

input[type=submit] {
	width: 100%;
	font-size: 1.25em;
	font-weight: bold;
	padding: 5px 0;
	border: 0;
	font-family: 'Montserrat', sans-serif;
	color: white;
	background-color: rgb(240, 64, 0);
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-appearance: none;
}

input[type=submit]:hover {
	background-color: orangered;
	cursor: pointer;
}

fieldset {
	border: none;
}

form #website {
	display: none;
}

#form-messages {
	display: flex;
	flex-flow: row wrap;
}

#new-msg {
	cursor: pointer;
	padding: 5px 25px;
	margin-bottom: 15px;
	font-size: 1.25em;
	color: white;
	background-color: rgb(238, 62, 0);
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display: none;
}
#new-msg:hover {
	background-color: orangered;
}

.success {
	padding: 10em;
	margin: 50px 0;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	color: #468847;
	background-color: #dff0d8;
	border: 1px solid #d6e9c6;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.error {
	padding: 1em;
	margin: 1rem 0;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	color: #b94a48;
	background-color: #f2dede;
	border: 1px solid rgba(185, 74, 72, 0.3);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/***********************Footer**************************/
footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: rgb(185, 185, 185);
	background-color: rgb(32, 32, 40);
	box-shadow: 0 0 20px 0 rgb(150, 150, 150);
}

.social-footer img {
	width: 30px;
	padding: 20px 10px 0 10px;
	opacity: 0.85;
	transition: 0.5s;
}

.social-footer img:hover {
	opacity: 1;
	-ms-transform: scale(1.1, 1.1);
	-webkit-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}

@media only screen and (max-width: 1200px) {
	.icon {
		margin: 0 20px;
	}

	.icon h1 {
		font-size: 3em;
	}

	nav li {
		padding: 20px;
		letter-spacing: 3px;
	}

	.inner-container {
		width: 85vw;
	}

	.grid {
		grid-template-columns: repeat(2, 1fr);
	}

	.skills-img {
		margin: 10px;
	}
}

@media only screen and (max-width: 992px) {
	.about-format {
		grid-template-columns: 1fr;
	}

	.about-format p {
		grid-column-start: 1;
		text-align: center;
	}

	.about-format h4 {
		text-align: center;
	}

	.about-format ul {
		text-align: center;
		margin-left: -40px;
	}

	.skills-img {
		display: inline;
	}
}

@media only screen and (max-width: 768px) {
	.name {
		font-size: 4em;
	}

	.page-home #subTxt {
		font-size: 1em;
	}

	.br {
		display: inline;
	}

	nav ul {
		display: none;
	}

	.hamburger {
		display: flex;
		float: right;
		font-size: 2.5em;
		padding: 0;
		margin-right: 15px;
		cursor: pointer;
	}

	.grid {
		grid-template-columns: 1fr;
	}

	.landing > .skills {
		margin-top: -50px;
	}
	.projPort > .skills {
		margin-top: -50px;
	}

	.page h1 {
		letter-spacing: 10px;
		font-size: 2em;
	}

	.page p {
		font-size: .85em;
	}

	.about-format {
		grid-template-columns: 1fr;
	}

	.skills-img {
		margin: 0;
	}
	.skills-img img {
		width: 75px;
		padding: 15px;
		-webkit-filter: grayscale(0%);
		filter: grayscale(0%);
	}

	.page-success {
		font-size: 0.6em;
	}
}

@media only screen and (max-width: 380px) {
	.skills-img img {
		width: 65px;
		padding: 10px;
	}
}

.page-success {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
}
.page-success a {
	color: rgb(255, 102, 0);
	text-decoration: none;
	font-weight: bold;
	font-size: 1.1em;
}
.homeRedirect {
	padding-top: 20px;
	padding-bottom: 10px;
	width: 100vw;
	box-shadow: 0 0 20px 0 rgb(221, 221, 221);
}
.homeRedirect h1 {
	font-weight: bold;
	font-size: 8em;
	transition: 0.5s;
	display: inline;
}

.homeRedirect:hover .R {
	color: rgb(148, 148, 148);
	-ms-transform: scale(1.05, 1.05);
	-webkit-transform: scale(1.05, 1.05);
	transform: scale(1.05, 1.05);
}

.homeRedirect:hover .L {
	color: rgb(32, 32, 40);
	-ms-transform: scale(1.05, 1.05);
	-webkit-transform: scale(1.05, 1.05);
	transform: scale(1.05, 1.05);
}

.homeRedirect:hover {
	cursor: pointer;
}
