body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}
/***********************Home**************************/
.page-home {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/coding.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	position: absolute;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100vw;
	height: 100vh;
	-webkit-transform: none;
	transform: none;
	transition: transform 1s ease-in-out;
	will-change: transform;
	z-index: 10;
}

.page-home-closed {
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	transition: transform 1s ease-in-out;
	will-change: transform;
}

.name {
	color: white;
	font-size: 5em;
	font-weight: bold;
	letter-spacing: 20px;
	margin: 0;
}

#ryan {
	animation-duration: 5s;
}

.page-home #subTxt {
	font-weight: 200;
	color: rgb(165, 165, 165);
	font-size: 1.5em;
	text-transform: uppercase;
	letter-spacing: 5px;
	animation-delay: 1s;
	animation-duration: 3s;
}

.page-home #portfolioBtn {
	font-weight: 200;
	color: rgb(255, 255, 255);
	font-size: 1em;
	border: 2px solid white;
	border-radius: 2px;
	padding: 5px 20px;
	letter-spacing: 2px;
	animation-delay: 1s;
	animation-duration: 3s;
	transition: 1s;
}

.page-home #portfolioBtn:hover {
	background-color: white;
	color: rgb(0, 0, 0);
	font-weight: 500;
	cursor: pointer;
	-ms-transform: scale(1.05, 1.05);
	-webkit-transform: scale(1.05, 1.05);
	transform: scale(1.05, 1.05);
}

/***********************Container**************************/
.container {
	margin: auto;
	display: none;
}

/***********************Nav**************************/
nav {
	min-height: 50px;
	box-shadow: 0 0 20px 0 rgb(221, 221, 221);
	display: flex;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	float: right;
}

nav li {
	display: block;
	text-align: center;
	padding: 30px;
	float: left;
	letter-spacing: 5px;
	transition: 0.6s;
	opacity: 0.6;
}

nav li:hover {
	background-color: rgb(240, 240, 240);
	opacity: 1;
	cursor: pointer;
}

.main-nav {
	width: 1200px;
	height: 100%;
	margin: auto;
}

.icon {
	display: flex;
	float: left;
	margin: 0 30px;
	transition: 0.5s;
}

.icon h1 {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 4em;
	transition: 0.5s;
}

.R {
	color: rgb(32, 32, 40);
}
.L {
	color: rgb(148, 148, 148);
}

.icon:hover .R {
	color: rgb(148, 148, 148);
}

.icon:hover .L {
	color: rgb(32, 32, 40);
}

.icon:hover {
	cursor: pointer;
	-ms-transform: scale(1.05, 1.05);
	-webkit-transform: scale(1.05, 1.05);
	transform: scale(1.05, 1.05);
}

#R {
	animation-delay: 1s;
	animation-duration: 1s;
}
#L {
	animation-delay: 1s;
	animation-duration: 1s;
}
.menu {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	pointer-events: none;
	z-index: 8;
}

.menu--visible {
	pointer-events: auto;
}

.sidenav {
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 9;
	top: 0;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	transition: transform 1s ease-in-out;
	will-change: transform;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.9);
	color: white;
	overflow-x: hidden;
	transition: 1s;
	padding-top: 60px;
	z-index: 9;
	pointer-events: auto;
}

.menu--visible .sidenav {
	-webkit-transform: none;
	transform: none;
}

.menu--animatable .sidenav {
	transition: all 1s ease-in-out;
}

.menu--visible.menu--animatable .sidenav {
	transition: all 1s ease-in-out;
}

.sidenav a {
	padding: 20px;
	text-decoration: none;
	font-size: 30px;
	color: white;
	display: block;
	transition: 0.3s;
	text-align: center;
}

.strike {
	position: relative;
	display: block;
	cursor: pointer;
}

.strike:before,
.strike:after {
	content: '';
	position: absolute;
	width: 0%;
	height: 3px;
	top: 50%;
	margin-top: -0.5px;
	background: #fff;
}

.strike:before {
	left: 25%;
}
.strike:after {
	right: 25%;
	background: #fff;
	transition: width .25s cubic-bezier(1, 1, 1, 1);
}

.strike:hover:before {
	background: #fff;
	width: 50%;
	transition: width .25s cubic-bezier(1, 1, 1, 1);
}

.strike:hover:after {
	background: transparent;
	width: 50%;
	transition: 0s;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.mobile-social {
	display: flex;
	align-items: center;
	justify-content: center;
}

.mobile-social img {
	width: 30px;
	padding: 10px;
	transition: 0.5s;
}

.mobile-social img:hover {
	opacity: 0.6;
}

.hamburger {
	display: none;
	transition: 1s;
}

.active {
	background-color: rgb(240, 240, 240);
	opacity: 1;
}

/***********************Pages**************************/
.pages {
	display: flex;
	justify-content: center;
	margin: 0;
}

.page {
	text-align: center;
}

.inner-container {
	width: 1200px;
	margin-bottom: 25px;
}

.page h1 {
	letter-spacing: 15px;
	margin: 75px 0 15px 0;
	font-size: 2.5em;
	font-weight: bold;
	text-transform: uppercase;
}

.underline {
	width: 35px;
	border-bottom: 3px solid rgb(200, 200, 200);
	margin: auto;
	margin-bottom: 30px;
}

.moreSection {
	display: none;
}
.readMore {
	height: auto;
	width: 100vw;
	text-align: center;
	padding-bottom: 25px;
}
.readMore ul li p {
	text-align: left;
}

.backBtn {
	font-size: 2.5em;
	margin: 0;
	padding: 0;
	margin-left: 80vw;
	text-decoration: none;
	transition: 0.5s;
	color: black;
}
.backBtn:hover {
	cursor: pointer;
	color: rgb(163, 163, 163);
	-ms-transform: scale(1.075, 1.075);
	-webkit-transform: scale(1.075, 1.075);
	transform: scale(1.075, 1.075);
}

.sectionMore {
	display: none;
}

.readMoreFlex {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.projects div p {
	width: 60vw;
	margin: auto;
}

.arrow {
	font-size: 300%;
	position: -webkit-sticky;
	color: rgba(0, 0, 0, 0.5);
	position: sticky;
	top: 325px;
	transition: 2.5;
}
.arrow:hover {
	cursor: pointer;
	color: rgba(0, 0, 0, 0.4);
}
.arrow:active {
	color: black;
}

.more-skill-img {
	background-image: url('img/Skills/skills-sprite.png');
	background-repeat: no-repeat;
	background-size: 250px;
	height: 50px;
	width: 50px;
	margin: 15px;
	overflow: hidden;
	position: relative;
	transition: .5s;
}
.more-skill-img:hover {
	-webkit-filter: grayscale(.4);
	filter: grayscale(.4);
	-ms-transform: scale(.95, .95);
	-webkit-transform: scale(.95, .95);
	transform: scale(.95, .95);
}
.more-skill-img.html5 {
	background-position: -50px -200px;
}
.more-skill-img.css3 {
	background-position: -200px -100px;
}
.more-skill-img.js {
	background-position: -100px -200px;
}
.more-skill-img.react {
	background-position: -50px -100px;
}
.more-skill-img.wordpress {
	background-position: -150px -50px;
}
.more-skill-img.php {
	background-position: -100px -50px;
}
.more-skill-img.csharp {
	background-position: -200px -50px;
}
.more-skill-img.dotnet {
	background-position: -200px -150px;
}
.more-skill-img.node {
	background-position: -50px -50px;
}
.more-skill-img.swift {
	background-position: -100px -100px;
}
.more-skill-img.xaml {
	background-position: -50px -150px;
}
.more-skill-img.wpf {
	background-position: -150px -100px;
}
.more-skill-img.postgresql {
	background-position: 0px -100px;
}
.more-skill-img.jquery {
	background-position: 0px 0px;
}
.more-skill-img.ajax {
	background-position: -150px -150px;
}
.more-skill-img.objectivec {
	background-position: -100px 0px;
}
.more-skill-img.xcode {
	background-position: -100px -150px;
}
.more-skill-img.bootstrap {
	background-position: -200px 0px;
}
.read-more-skills {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/***********************Portfolio**************************/
.page-port p {
	font-size: 0.85em;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}
.work {
	padding: 15px;
	letter-spacing: 1px;
	border: 1px solid rgba(58, 58, 71, 0.342);
	border-radius: 10px;
	box-shadow: 5px 5px 5px 0 rgb(150, 150, 150);
	transition: 0.5s;
	background: rgba(50, 50, 90, 0.125);
}
.work:hover {
	-ms-transform: scale(1.025, 1.025);
	-webkit-transform: scale(1.025, 1.025);
	transform: scale(1.025, 1.025);
	box-shadow: 5px 5px 10px 0 rgb(75, 75, 75);
}
.skills {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.skills div {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border-radius: 10px;
	padding: 10px;
	margin: 10px 15px;
	font-size: 0.75em;
}
.pic a {
	text-decoration: none;
	color: white;
	border-radius: 10px;
	padding: 10px;
	margin-top: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	transition: 0.5s;
}
.pic a:hover {
	background-color: rgba(0, 0, 0, 0.85);
	-ms-transform: scale(1.075, 1.075);
	-webkit-transform: scale(1.075, 1.075);
	transform: scale(1.075, 1.075);
	cursor: pointer;
}

.uni-port {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/portfolio.JPG);
}
.uni-iOS {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/OandXs.png);
}
.landing {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/landingpage.jpg);
}
.wordpress-site {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/wordpress.JPG);
}
.projPort {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/newPortfolio.JPG);
}
.smartBrain {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/face.JPG);
}
.LiveScoresApp {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/Scores.JPG);
}
.pic {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	height: 250px;
	border-radius: 10px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transition: 0.5s;
}
.work:hover .pic {
	-ms-transform: rotate(1.5deg);
	-webkit-transform: rotate(1.5deg);
	transform: rotate(1.5deg);
}

.readMoreBtn {
	font-weight: bold;
	transition: 0.5s;
}

.readMoreBtn:hover {
	color: rgba(0, 0, 0, 0.8);
	cursor: pointer;
}
/* **********************Blog************************* */
.page-blog .back-img {
	position: absolute;
	width: 100%;
	left: 0;
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(img/typing.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.page-blog .back-img h1 {
	color: white;
	margin: 0;
	padding: 90px 0;
}
.page-blog .inner-container {
	margin-top: 250px;
	letter-spacing: 1px;
}
.blog-soon {
	height: 50vh;
	display: flex;
	justify-content: center;
}
.coming-soon {
	font-size: 3em;
	font-weight: bold;
	letter-spacing: 25px;
	align-self: center;
}
/* **********************About************************* */
.page-about p {
	font-size: 0.9em;
}
.page-about .back-img {
	position: absolute;
	width: 100%;
	left: 0;
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(img/lakevyrnwy.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.page-about .back-img h1 {
	color: white;
	margin: 0;
	padding: 90px 0;
}
.page-about .inner-container {
	margin-top: 250px;
	letter-spacing: 1px;
}
.large-text {
	font-size: 2.75em;
	font-weight: bold;
	letter-spacing: 5px;
}
.head-line {
	font-weight: bold;
}
.about-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 25px;
}
.about-grid p {
	text-align: center;
}
.about-grid div {
	align-self: center;
}
.skill-img {
	background-image: url('img/Skills/skills-sprite.png');
	background-repeat: no-repeat;
	background-size: 400px;
	height: 80px;
	width: 80px;
	margin: 30px;
	overflow: hidden;
	position: relative;
	transition: .65s;
}
.skill-img:hover {
	-ms-transform: scale(1.4, 1.4);
	-webkit-transform: scale(1.4, 1.4);
	transform: scale(1.4, 1.4);
}
.skill-img.html5 {
	background-position: -80px -320px;
}
.skill-img.css3 {
	background-position: -320px -160px;
}
.skill-img.js {
	background-position: -160px -320px;
}
.skill-img.vs {
	background-position: -240px 0px;
}
.skill-img.mysql {
	background-position: 0px -80px;
}
.skill-img.sql {
	background-position: -80px 0px;
}
.skill-img.react {
	background-position: -80px -160px;
}
.skill-img.wordpress {
	background-position: -240px -80px;
}
.skill-img.php {
	background-position: -160px -80px;
}
.skill-img.csharp {
	background-position: -320px -80px;
}
.skill-img.xamarin {
	background-position: 0px -240px;
}
.skill-img.dotnet {
	background-position: -320px -240px;
}
.skill-img.git {
	background-position: 0px -320px;
}
.skill-img.node {
	background-position: -80px -80px;
}
.skill-img.swift {
	background-position: -160px -160px;
}

.skills-img {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.page-about a {
	color: black;
	text-decoration: none;
	font-weight: bold;
}
.page-about a:hover {
	font-weight: initial;
}
/* **********************Contact************************* */
.page-contact .back-img {
	position: absolute;
	width: 100%;
	left: 0;
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(img/coding.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.page-contact .back-img h1 {
	color: white;
	margin: 0;
	padding: 90px 0;
}
.page-contact .inner-container {
	margin-top: 250px;
	letter-spacing: 1px;
	font-weight: bold;
}
.contact-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 25px;
}
.contact-icons {
	width: 30px;
	opacity: 0.85;
	margin-bottom: -7px;
	transition: .5s;
	border-right: 10px solid white;
	border-left: 10px solid white;
}
.In {
	width: 26px;
	margin-bottom: -3px;
}
.contact-icons:hover {
	-ms-transform: scale(1.4, 1.4);
	-webkit-transform: scale(1.4, 1.4);
	transform: scale(1.4, 1.4);
	opacity: 1;
}

.br {
	display: none;
}

.page .contact-info {
	font-size: 1.5em;
	margin-bottom: 35px;
	text-align: center;
}

#map {
	height: 300px;
	width: 90%;
	border-radius: 10px;
	display: inline-block;
	text-align: center;
}
#map2 {
	height: 300px;
	width: 100%;
	margin: 50px 0 0 0;
	border-radius: 10px;
	display: none;
}

.form {
	padding: 35px 0 0 0;
	text-align: left;
}
.visible {
	opacity: 1;
}
.invisible {
	opacity: 0;
}
#nameLbl,
#emailLbl,
#messageLbl {
	transition: 1s;
}
input[type=text],
textarea {
	width: 100%;
	border: 0;
	font-family: 'Montserrat', sans-serif;
	margin: 5px 0 35px 0;
	height: 40px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.8);
	transition: .5s;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-appearance: none;
}
textarea {
	height: 80px;
}
input[type=text]:focus {
	outline: none !important;
	border-bottom: 3px solid black;
}
textarea:focus {
	outline: none !important;
	border-bottom: 3px solid black;
}
input[type=submit] {
	width: 100%;
	font-size: 1.25em;
	font-weight: bold;
	padding: 5px 0;
	border: 0;
	font-family: 'Montserrat', sans-serif;
	color: white;
	background-color: rgb(240, 64, 0);
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-appearance: none;
}
input[type=submit]:hover {
	background-color: orangered;
	cursor: pointer;
}
input[type=submit]:active {
	background-color: rgb(240, 64, 0);
	-ms-transform: scale(1.025, 1.025);
	-webkit-transform: scale(1.025, 1.025);
	transform: scale(1.025, 1.025);
	box-shadow: 5px 5px 10px 0 rgb(90, 90, 90);
}

fieldset {
	border: none;
}
form #website {
	display: none;
}
#form-messages {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}
#new-msg {
	cursor: pointer;
	padding: 5px 25px;
	margin-bottom: 15px;
	font-size: 1.25em;
	color: white;
	background-color: rgb(238, 62, 0);
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display: none;
}
#new-msg:hover {
	background-color: orangered;
}
.success {
	padding: 8em 0;
	margin: 50px 0;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	color: #468847;
	background-color: #dff0d8;
	border: 1px solid #d6e9c6;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.error {
	padding: 1em;
	margin: 1rem 0;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	color: #b94a48;
	background-color: #f2dede;
	border: 1px solid rgba(185, 74, 72, 0.3);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
/* **********************Footer************************* */
footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: rgb(185, 185, 185);
	background-color: rgb(32, 32, 40);
	box-shadow: 0 0 20px 0 rgb(150, 150, 150);
}
.social-footer img {
	width: 30px;
	padding: 20px 10px 0 10px;
	opacity: 0.85;
	transition: 0.5s;
}
.social-footer img:hover {
	opacity: 1;
	-ms-transform: scale(1.1, 1.1);
	-webkit-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}
@media only screen and (max-width: 1200px) {
	.icon {
		margin: 0 20px;
	}
	.icon h1 {
		font-size: 3em;
	}
	nav li {
		padding: 20px;
		letter-spacing: 3px;
	}
	.inner-container {
		width: 85vw;
	}
	.grid {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media only screen and (max-width: 992px) {
	#map {
		display: none;
	}
	#map2 {
		display: inline-block;
	}
	.form {
		padding: 0;
	}
	.contact-grid {
		grid-template-columns: 1fr;
	}
}
@media only screen and (max-width: 768px) {
	.name {
		font-size: 4em;
	}
	.page-home #subTxt {
		font-size: 1em;
	}
	.page-home #portfolioBtn:hover {
		-ms-transform: none;
		-webkit-transform: none;
		transform: none;
	}
	.icon:hover {
		-ms-transform: none;
		-webkit-transform: none;
		transform: none;
	}
	nav ul {
		display: none;
	}
	.hamburger {
		display: flex;
		float: right;
		font-size: 2.5em;
		padding: 0;
		margin-right: 15px;
		cursor: pointer;
	}
	.grid {
		grid-template-columns: 1fr;
	}

	.page h1 {
		letter-spacing: 10px;
		font-size: 2em;
	}
	.page p {
		font-size: .85em;
	}

	.page .contact-info {
		font-size: 1.5em;
		text-align: left;
	}

	.br {
		display: inline;
	}

	.projects div p {
		width: auto;
		margin-left: 25px;
		margin-right: 25px;
	}

	.coming-soon {
		font-size: 2em;
		font-weight: bold;
		letter-spacing: 20px;
	}

	.skill-img {
		background-size: 320px;
		height: 64px;
		width: 64px;
		margin: 20px;
	}
	.skill-img.html5 {
		background-position: -64px -256px;
	}
	.skill-img.css3 {
		background-position: -256px -128px;
	}
	.skill-img.js {
		background-position: -128px -256px;
	}
	.skill-img.vs {
		background-position: -192px 0px;
	}
	.skill-img.mysql {
		background-position: 0px -64px;
	}
	.skill-img.sql {
		background-position: -64px 0px;
	}
	.skill-img.react {
		background-position: -64px -128px;
	}
	.skill-img.wordpress {
		background-position: -192px -64px;
	}
	.skill-img.php {
		background-position: -128px -64px;
	}
	.skill-img.csharp {
		background-position: -256px -64px;
	}
	.skill-img.xamarin {
		background-position: 0px -192px;
	}
	.skill-img.dotnet {
		background-position: -256px -192px;
	}
	.skill-img.git {
		background-position: 0px -256px;
	}
	.skill-img.node {
		background-position: -64px -64px;
	}
	.skill-img.swift {
		background-position: -128px -128px;
	}
}

@media only screen and (max-width: 380px) {
	#new-msg {
		font-size: 0.9em;
	}
	.sidenav a {
		padding: 15px;
		font-size: 30px;
	}
	.arrow {
		top: 50vh;
	}
	.skill-img {
		margin: 10px;
	}
}
